@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <img width="150" height="150" src="~/images/Termite.jpg" />    
    <div class="row">
    <div class="col-md-4">
        <h2>Welcome to Termite</h2>
        <p>
            Termite is a simple Bug Tracking application
            that uses Entity Framework Core in an
            ASP.NET Core Razor Pages web app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>See the development cycle</h2>
        <p>I began planning this project with a Trello Board.</p>
        <p>
            <a class="btn btn-default"
               href="https://trello.com/invite/b/WtdrbHpu/ce0ec02c95152c3fdfb87668072029b5/tech-test">
                See the board &raquo;
            </a>
        </p>
        <p>Unfortunately I soon went down a learning rabbit hole.</p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p>
            <a class="btn btn-default"
               href="https://github.com/DamonLeedham/Termite.git">
                See project source code &raquo;
            </a>
        </p>
    </div>
</div>